@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

header{
    background: #feb224;
    padding: 10px 20px;
    border-radius: 14px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
}

main{
    display: flex;
    padding-top: 20px;
}

body{
    background: #d8d8d8;
}

.lista-produtos{
    width: 70%;
    padding: 10px;
}
.lista-carrinho{
    width: 30%;
    background: #feb224;
    border-radius: 8px;
    padding: 6px 20px;
    text-align: center;
}

#lista-carrinho{
    list-style: none;
    padding: 0;
}

.produto{
    /* border: 1px solid black; */
    background: white;
    /* border-radius: 12px; */
    display: flex;
    justify-content: space-around;
    padding-right: 20px;
    margin-bottom: 10px;
}

.produto img{
    width: 40%;
    padding: 10px
}

.produto-informacoes{
    width: 60%;
    text-align: right;
    padding-right: 20px;
}

.produto-informacoes button{
    background: #feb224;
    font-size: 1.2rem;
    border-radius: 18px;
    padding: 0 28px ;
    transition: 1s;
    cursor: pointer;
}

.produto-informacoes button:hover{
    background: #ce8600;
    color: white;
    border: 2px solid grey;
}


.div-teste{
    background: black;
    padding: 4px;
    border-radius: 50px;
    overflow: hidden;
}

.div-teste img{
    background-color: white;
    border-radius:  50px 0 0 50px ;
    border-top-right-radius: 10px;
}